[submodule "moodle"]
	path = moodle
	url = https://github.com/moodle/moodle.git
	branch = MOODLE_501_STABLE
[submodule "moodle-local_codechecker"]
	path = moodle-local_codechecker
	url = https://github.com/moodlehq/moodle-local_codechecker.git
[submodule "moodle-tool_pluginskel"]
	path = moodle-tool_pluginskel
	url = https://github.com/mudrd8mz/moodle-tool_pluginskel.git
